# This is equivalent configuration to 3D-ICE example_transient.stk

-package.name				3DICE
-package.thermal_library		3dice
-package.thermal_analysis_type		steady
-package.ambient_temperature		300.0
-package.temperature			300.0
-package.chip_length			9.6e-3	# 10mm
-package.chip_width			8.48e-3	# 10mm
-package.grid_rows			128
-package.grid_cols			128

-package.material					SILICON
-package.material.SILICON.thermal_conductivity		1.30e-4 
-package.material.SILICON.volumetric_heat_capacity	1.628e-12
-package.material					BEOL
-package.material.BEOL.thermal_conductivity		2.25e-6
-package.material.BEOL.volumetric_heat_capacity		2.175e-12

-package.conventional_heatsink					true
-package.conventional_heatsink.heat_transfer_coefficient	1.0e-7

-package.microchannel.type					2rm
-package.microchannel.height					100e-6
-package.microchannel.channel_length				50e-6
-package.microchannel.wall_length				50e-6
-package.microchannel.wall_material				SILICON
-package.microchannel.coolant_flow_rate				100
-package.microchannel.coolant_heat_transfer_coefficient_top	5.7132e-8
-package.microchannel.coolant_heat_transfer_coefficient_bottom	4.7132e-8
-package.microchannel.coolant_volumetric_heat_capacity		4.172e-12
-package.microchannel.coolant_incoming_temperature		300.0

-package.die						TOP_IC
-package.die.TOP_IC.layer				SOURCE_LAYER
-package.die.TOP_IC.layer.SOURCE_LAYER.height		2e-6
-package.die.TOP_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.TOP_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.TOP_IC.layer				BOTTOM_LAYER
-package.die.TOP_IC.layer.BOTTOM_LAYER.height		50e-6
-package.die.TOP_IC.layer.BOTTOM_LAYER.material		SILICON

-package.die						BOTTOM_IC
-package.die.BOTTOM_IC.layer				TOP_LAYER
-package.die.BOTTOM_IC.layer.TOP_LAYER.height		10e-6
-package.die.BOTTOM_IC.layer.TOP_LAYER.material		BEOL
-package.die.BOTTOM_IC.layer				SOURCE_LAYER
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.height	2e-6
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.material	SILICON
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.is_sourcE_layer true
-package.die.BOTTOM_IC.layer				BOTTOM_LAYER
-package.die.BOTTOM_IC.layer.BOTTOM_LAYER.height	50e-6
-package.die.BOTTOM_IC.layer.BOTTOM_LAYER.material	SILICON

-package.stack						INORDER_DIE
-package.stack.INORDER_DIE.type				die
-package.stack.INORDER_DIE.die				TOP_IC
-package.stack						TOP_CHANNEL
-package.stack.TOP_CHANNEL.type				channel
-package.stack						OUTORDER_DIE
-package.stack.OUTORDER_DIE.type				die
-package.stack.OUTORDER_DIE.die				BOTTOM_IC
-package.stack						BOTTOM_CHANNEL
-package.stack.BOTTOM_CHANNEL.type			channel
-package.stack						BOTTOM_MOST
-package.stack.BOTTOM_MOST.type				layer
-package.stack.BOTTOM_MOST.height			10e-6
-package.stack.BOTTOM_MOST.material			BEOL

-package.partition	INORDER_DIE:core0
-package.partition	INORDER_DIE:core1
-package.partition	INORDER_DIE:core2
-package.partition	INORDER_DIE:core3
-package.partition	INORDER_DIE:core4
-package.partition	INORDER_DIE:core5
-package.partition	INORDER_DIE:core6
-package.partition	INORDER_DIE:core7
-package.partition	INORDER_DIE:core8
-package.partition	INORDER_DIE:core9
-package.partition	INORDER_DIE:core10
-package.partition	INORDER_DIE:core11
-package.partition	INORDER_DIE:core12
-package.partition	INORDER_DIE:core13
-package.partition	INORDER_DIE:core14
-package.partition	INORDER_DIE:core15
-package.partition	INORDER_DIE:core16
-package.partition	INORDER_DIE:core17
-package.partition	INORDER_DIE:core18
-package.partition	INORDER_DIE:core19
-package.partition	INORDER_DIE:core20
-package.partition	INORDER_DIE:core21
-package.partition	INORDER_DIE:core22
-package.partition	INORDER_DIE:core23
-package.partition	INORDER_DIE:core24
-package.partition	INORDER_DIE:core25
-package.partition	INORDER_DIE:core26
-package.partition	INORDER_DIE:core27
-package.partition	INORDER_DIE:core28
-package.partition	INORDER_DIE:core29
-package.partition	INORDER_DIE:core30
-package.partition	INORDER_DIE:core31
-package.partition	INORDER_DIE:core32
-package.partition	INORDER_DIE:core33
-package.partition	INORDER_DIE:core34
-package.partition	INORDER_DIE:core35
-package.partition	INORDER_DIE:core36
-package.partition	INORDER_DIE:core37
-package.partition	INORDER_DIE:core38
-package.partition	INORDER_DIE:core39
-package.partition	INORDER_DIE:core40
-package.partition	INORDER_DIE:core41
-package.partition	INORDER_DIE:core42
-package.partition	INORDER_DIE:core43
-package.partition	INORDER_DIE:core44
-package.partition	INORDER_DIE:core45
-package.partition	INORDER_DIE:core46
-package.partition	INORDER_DIE:core47
-package.partition	INORDER_DIE:core48
-package.partition	INORDER_DIE:core49
-package.partition	INORDER_DIE:core50
-package.partition	INORDER_DIE:core51
-package.partition	INORDER_DIE:core52
-package.partition	INORDER_DIE:core53
-package.partition	INORDER_DIE:core54
-package.partition	INORDER_DIE:core55
-package.partition	INORDER_DIE:core56
-package.partition	INORDER_DIE:core57
-package.partition	INORDER_DIE:core58
-package.partition	INORDER_DIE:core59
-package.partition	INORDER_DIE:core60
-package.partition	INORDER_DIE:core61
-package.partition	INORDER_DIE:core62
-package.partition	INORDER_DIE:core63

-package.partition	OUTORDER_DIE:core0
-package.partition	OUTORDER_DIE:core1
-package.partition	OUTORDER_DIE:core2
-package.partition	OUTORDER_DIE:core3
-package.partition	OUTORDER_DIE:core4
-package.partition	OUTORDER_DIE:core5
-package.partition	OUTORDER_DIE:core6
-package.partition	OUTORDER_DIE:core7
-package.partition	OUTORDER_DIE:core8
-package.partition	OUTORDER_DIE:core9
-package.partition	OUTORDER_DIE:core10
-package.partition	OUTORDER_DIE:core11
-package.partition	OUTORDER_DIE:core12
-package.partition	OUTORDER_DIE:core13
-package.partition	OUTORDER_DIE:core14
-package.partition	OUTORDER_DIE:core15

-package.end

-partition.name		INORDER_DIE:core0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core1
-partition.x_left	1.2e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core2
-partition.x_left	2.4e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core3
-partition.x_left	3.6e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core4
-partition.x_left	4.8e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core5
-partition.x_left	6.0e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core6
-partition.x_left	7.2e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core7
-partition.x_left	8.4e-3
-partition.y_bottom	0.0
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core8
-partition.x_left	0.0
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core9
-partition.x_left	1.2e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core10
-partition.x_left	2.4e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core11
-partition.x_left	3.6e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core12
-partition.x_left	4.8e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core13
-partition.x_left	6.0e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core14
-partition.x_left	7.2e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core15
-partition.x_left	8.4e-3
-partition.y_bottom	1.06e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core16
-partition.x_left	0.0
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core17
-partition.x_left	1.2e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core18
-partition.x_left	2.4e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core19
-partition.x_left	3.6e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core20
-partition.x_left	4.8e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core21
-partition.x_left	6.0e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core22
-partition.x_left	7.2e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core23
-partition.x_left	8.4e-3
-partition.y_bottom	2.12e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core24
-partition.x_left	0.0
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core25
-partition.x_left	1.2e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core26
-partition.x_left	2.4e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core27
-partition.x_left	3.6e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core28
-partition.x_left	4.8e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core29
-partition.x_left	6.0e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core30
-partition.x_left	7.2e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core31
-partition.x_left	8.4e-3
-partition.y_bottom	3.18e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core32
-partition.x_left	0.0
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core33
-partition.x_left	1.2e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core34
-partition.x_left	2.4e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core35
-partition.x_left	3.6e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core36
-partition.x_left	4.8e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core37
-partition.x_left	6.0e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core38
-partition.x_left	7.2e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core39
-partition.x_left	8.4e-3
-partition.y_bottom	4.24e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core40
-partition.x_left	0.0
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core41
-partition.x_left	1.2e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core42
-partition.x_left	2.4e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core43
-partition.x_left	3.6e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core44
-partition.x_left	4.8e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core45
-partition.x_left	6.0e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core46
-partition.x_left	7.2e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core47
-partition.x_left	8.4e-3
-partition.y_bottom	5.30e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core48
-partition.x_left	0.0
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core49
-partition.x_left	1.2e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core50
-partition.x_left	2.4e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core51
-partition.x_left	3.6e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core52
-partition.x_left	4.8e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core53
-partition.x_left	6.0e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core54
-partition.x_left	7.2e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core55
-partition.x_left	8.4e-3
-partition.y_bottom	6.36e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core56
-partition.x_left	0.0
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core57
-partition.x_left	1.2e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core58
-partition.x_left	2.4e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core59
-partition.x_left	3.6e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core60
-partition.x_left	4.8e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core61
-partition.x_left	6.0e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core62
-partition.x_left	7.2e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name		INORDER_DIE:core63
-partition.x_left	8.4e-3
-partition.y_bottom	7.42e-3
-partition.length	1.2e-3
-partition.width	1.06e-3
-partition.die		INORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core0
-partition.x_left	0.0e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core1
-partition.x_left	2.4e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core2
-partition.x_left	4.8e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core3
-partition.x_left	7.2e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core4
-partition.x_left	0.0e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core5
-partition.x_left	2.4e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core6
-partition.x_left	4.8e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core7
-partition.x_left	7.2e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core8
-partition.x_left	0.0e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core9
-partition.x_left	2.4e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core10
-partition.x_left	4.8e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core11
-partition.x_left	7.2e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core12
-partition.x_left	0.0e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core13
-partition.x_left	2.4e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core14
-partition.x_left	4.8e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core15
-partition.x_left	7.2e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end
