# This is equivalent configuration to 3D-ICE example_transient.stk

-package.name				3DICE
-package.thermal_library		3d-ice
-package.thermal_analysis_type		steady
-package.ambient_temperature		300.0
-package.temperature			300.0
-package.chip_length			4.2e-3	# 4.2mm
-package.chip_width			4.2e-3	# 4.2mm
-package.grid_rows			50
-package.grid_columns		50

-package.material					SILICON
-package.material.SILICON.thermal_conductivity		1.30e-4 
-package.material.SILICON.volumetric_heat_capacity	1.628e-12
-package.material					BEOL
-package.material.BEOL.thermal_conductivity		2.25e-6
-package.material.BEOL.volumetric_heat_capacity		2.175e-12

-package.conventional_heatsink					true
-package.conventional_heatsink.heat_transfer_coefficient	1.0e-7

-package.microchannel.type					2rm
-package.microchannel.height					100e-6
-package.microchannel.channel_length				50e-6
-package.microchannel.wall_length				50e-6
-package.microchannel.wall_material				SILICON
-package.microchannel.coolant_flow_rate				42
-package.microchannel.coolant_heat_transfer_coefficient_top	5.7132e-8
-package.microchannel.coolant_heat_transfer_coefficient_bottom	4.7132e-8
-package.microchannel.coolant_volumetric_heat_capacity		4.172e-12
-package.microchannel.coolant_incoming_temperature		300.0

-package.die						TOP_IC
-package.die.TOP_IC.layer				SOURCE_LAYER
-package.die.TOP_IC.layer.SOURCE_LAYER.height		2e-6
-package.die.TOP_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.TOP_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.TOP_IC.layer				BOTTOM_LAYER
-package.die.TOP_IC.layer.BOTTOM_LAYER.height		50e-6
-package.die.TOP_IC.layer.BOTTOM_LAYER.material		SILICON

-package.die						BOTTOM_IC
-package.die.BOTTOM_IC.layer				TOP_LAYER
-package.die.BOTTOM_IC.layer.TOP_LAYER.height		10e-6
-package.die.BOTTOM_IC.layer.TOP_LAYER.material		BEOL
-package.die.BOTTOM_IC.layer				SOURCE_LAYER
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.height	2e-6
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.material	SILICON
-package.die.BOTTOM_IC.layer.SOURCE_LAYER.is_sourcE_layer true
-package.die.BOTTOM_IC.layer				BOTTOM_LAYER
-package.die.BOTTOM_IC.layer.BOTTOM_LAYER.height	50e-6
-package.die.BOTTOM_IC.layer.BOTTOM_LAYER.material	SILICON

-package.stack						DL2_DIE
-package.stack.DL2_DIE.type				die
-package.stack.DL2_DIE.die				TOP_IC
-package.stack						TOP_CHANNEL
-package.stack.TOP_CHANNEL.type				channel
-package.stack						CORE_DIE
-package.stack.CORE_DIE.type				die
-package.stack.CORE_DIE.die				BOTTOM_IC
-package.stack						BOTTOM_CHANNEL
-package.stack.BOTTOM_CHANNEL.type			channel
-package.stack						BOTTOM_MOST
-package.stack.BOTTOM_MOST.type				layer
-package.stack.BOTTOM_MOST.height			10e-6
-package.stack.BOTTOM_MOST.material			BEOL

-package.partition	DL2_DIE:SPOT0
-package.partition	DL2_DIE:SPOT1
-package.partition	DL2_DIE:SPOT2
-package.partition	DL2_DIE:SPOT3
-package.partition	CORE_DIE:FRT0
-package.partition	CORE_DIE:FRT1
-package.partition	CORE_DIE:FRT2
-package.partition	CORE_DIE:FRT3
-package.partition	CORE_DIE:FPU0
-package.partition	CORE_DIE:FPU1
-package.partition	CORE_DIE:FPU2
-package.partition	CORE_DIE:FPU3
-package.partition	CORE_DIE:INT0
-package.partition	CORE_DIE:INT1
-package.partition	CORE_DIE:INT2
-package.partition	CORE_DIE:INT3
-package.partition	CORE_DIE:MEM0
-package.partition	CORE_DIE:MEM1
-package.partition	CORE_DIE:MEM2
-package.partition	CORE_DIE:MEM3
-package.partition	CORE_DIE:SCH0
-package.partition	CORE_DIE:SCH1
-package.partition	CORE_DIE:SCH2
-package.partition	CORE_DIE:SCH3
-package.end

-partition.name		DL2_DIE:SPOT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		CORE_DIE:FRT0
-partition.x_left	1.48e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH0
-partition.x_left	1.48e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT0
-partition.x_left	0.0
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM0
-partition.x_left	0.0
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FRT1
-partition.x_left	2.10e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH1
-partition.x_left	2.10e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU1
-partition.x_left	2.72e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT1
-partition.x_left	2.72e-3
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM1
-partition.x_left	2.72e-3
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FRT2
-partition.x_left	1.48e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH2
-partition.x_left	1.48e-3
-partition.y_bottom	3.00e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU2
-partition.x_left	0.0
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT2
-partition.x_left	0.0
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM2
-partition.x_left	0.0
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FRT3
-partition.x_left	2.10e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH3
-partition.x_left	2.10e-3
-partition.y_bottom	3.0e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU3
-partition.x_left	2.72e-3
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT3
-partition.x_left	2.72e-3
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM3
-partition.x_left	2.72e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

