# This is equivalent configuration to 3D-ICE example_transient.stk

-package.name				3DICE
-package.thermal_library			hotspot
-package.thermal_analysis_type		steady
-package.ambient_temperature		300.0
-package.interface_temperature			300
-package.spreader_temperature			300
-package.heatsink_temperature			300
-package.model					grid
-package.grid_rows				128
-package.grid_columns				128

-package.partition	OUTORDER_DIE:core0
-package.partition	OUTORDER_DIE:core1
-package.partition	OUTORDER_DIE:core2
-package.partition	OUTORDER_DIE:core3
-package.partition	OUTORDER_DIE:core4
-package.partition	OUTORDER_DIE:core5
-package.partition	OUTORDER_DIE:core6
-package.partition	OUTORDER_DIE:core7
-package.partition	OUTORDER_DIE:core8
-package.partition	OUTORDER_DIE:core9
-package.partition	OUTORDER_DIE:core10
-package.partition	OUTORDER_DIE:core11
-package.partition	OUTORDER_DIE:core12
-package.partition	OUTORDER_DIE:core13
-package.partition	OUTORDER_DIE:core14
-package.partition	OUTORDER_DIE:core15

-package.end

-partition.name	OUTORDER_DIE:core0
-partition.x_left	0.0e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core1
-partition.x_left	2.4e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core2
-partition.x_left	4.8e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core3
-partition.x_left	7.2e-3
-partition.y_bottom	0.0e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core4
-partition.x_left	0.0e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core5
-partition.x_left	2.4e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core6
-partition.x_left	4.8e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core7
-partition.x_left	7.2e-3
-partition.y_bottom	2.12e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core8
-partition.x_left	0.0e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core9
-partition.x_left	2.4e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core10
-partition.x_left	4.8e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core11
-partition.x_left	7.2e-3
-partition.y_bottom	4.24e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core12
-partition.x_left	0.0e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core13
-partition.x_left	2.4e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core14
-partition.x_left	4.8e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end

-partition.name	OUTORDER_DIE:core15
-partition.x_left	7.2e-3
-partition.y_bottom	6.36e-3
-partition.length	2.4e-3
-partition.width	2.12e-3
-partition.die		OUTORDER_DIE
-partition.end
