pipeline = "inorder";

fastfwd = 0;

qsim_server = "127.0.0.1";
qsim_port = "1234";

execute_width = 2;

instQ_size = 16;

IL1:
{
	size = 0x8000; //32K
	line_width = 32;
	assoc = 4;
};

DL1:
{
	size = 0x8000; //32K
	line_width = 32;
	assoc = 4;
};

FU_INT: 
{
	delay = 1;
	issue_rate = 1;
	port = [1, 0];
};

FU_MUL: 
{
	delay = 5;
 	issue_rate = 1;
	port = [0];
};

FU_FP: 
{
	delay = 3;
	issue_rate = 1;
	port = [1];
};

FU_MOV: 
{
	delay = 1;
	issue_rate = 1;
	port = [1];
};

FU_BR: 
{
	delay = 1;
	issue_rate = 1;
	port = [1];
};

FU_LD: 
{
	delay = 1;
	issue_rate = 1;
	port = [0];
};

FU_ST: 
{
	delay = 1;
	issue_rate = 1;
	port = [0];
};

